{% extends "base_generic.html" %}

{% block content %}

	 <div class="container-fluid gedf-wrapper">

	 	<div class="row">

	 		<div class="col-md-12 gedf-main working-playlist">
	 			<div class="card gedf-card playlist-card">
	 				<div class="card-body">
							<h2>New Playlist</h2>
						    	<form method="post">
							{% csrf_token %}
							{{ form.as_p }}
							<input type="submit" value="Create">
							</form>
							

	 				</div>
	 			</div>
	 			
	 	
	</div>

{% endblock %}
