{% extends "base_generic.html" %}

{% block content %}

	 <div class="container-fluid gedf-wrapper">

	 	<div class="row">

	 		<div class="col-md-6 gedf-main working-playlist">
	 			<div class="card gedf-card playlist-card">
	 				<div class="card-body">
						<h3 style="display: inline; padding-right: 260px;">In Progress Playlists</h3><br> <a href="/HiveList/mylists/create_playlist">Create Playlist</a>
						<!-- Link to playlist settings -->
	 					<table class="table table-hover table-bordered table-sm">
	 						<tr scope="row"><th>Playlist name</th><th>Creation Date</th><th>Vote Time Expiration</th></tr>
	 						{% for playlist in My_IP_Playlists %}
	 						<tr>
                                <td class="playlistName"><a href="{% url 'currentPlaylist' playlist_id=playlist.playlist_id %}">{{ playlist.playlist_name }}</a></td>
                                <td>{{ playlist.playlist_creation_date }}</td>
                                <td>{{ playlist.playlist_vote_time }}</td>
                            </tr>
	 						{% endfor %}
	 					</table>
	 				</div>
	 			</div>
	 			
	 		</div>

	 		<div class="col-md-6 gedf-main working-playlist">
	 			<div class="card gedf-card playlist-card">
	 				<div class="card-body">
	 					<h2>Finished Playlists</h2>
						<!-- Link to playlist settings -->
	 					<table class="table table-hover table-bordered table-sm">
	 						<tr scope="row"><th>Playlist Name</th><th>Creation Date</th><th>Vote Time Expiration</th></tr>
	 						{% for playlist in My_Finished_Playlists %}
	 						<tr>
                                <td class="playlistName"><a href={% url 'currentPlaylist' playlist_id=playlist.playlist_id %}>{{ playlist.playlist_name }}</a></td>
                                <td>{{ playlist.playlist_creation_date }}</td><td>{{ playlist.playlist_vote_time }}</td>
                            </tr>
	 						{% endfor %}
	 					</table>
	 				</div>
	 			</div>

	 		</div>

		</div>
	</div>
{% endblock %}
                    
